[Unit]
Description=Kodi OS graphical session
After=graphical.target NetworkManager.service pipewire.service
Wants=NetworkManager.service pipewire.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=kodi
Group=kodi
Environment=HOME=/home/kodi
Environment=XDG_CONFIG_HOME=/home/kodi/.config
Environment=XDG_DATA_HOME=/home/kodi/.local/share
Environment=XDG_CACHE_HOME=/home/kodi/.cache
ExecStart=/usr/bin/startx /usr/bin/kodi -- :0 vt1 -nolisten tcp
Restart=on-failure
RestartSec=2
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=graphical.target
