[Unit]
Description=Kodi OS safe package update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/kodi-os-update
